p,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding: 0;
}
input[type="email"],input[type="password"],input[type="text"]{
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.option{
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 10px 0;
}
.formInput{
  margin-top: 60px;
}
*{
  font-family: 'Inter', sans-serif;
}

/*-------------------- HEADER --------------------*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}

.navMenu{
  font-weight: bold;
  
}
.navLogin{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navButton{
  border-radius: 50px;
  margin: 0 10px;
  padding:15px;
}

/*-------------------- FOOTER --------------------*/
.footer{
  background-color: #25403d;
  color: #fff;
  padding-top: 50px;
}
.footerLink a{
  text-decoration: none!important;
  color: #fff;
}

.footerLink li{
  list-style:none;
  margin-top: 30px;
}
.footerLink ul {
  padding: 0;
}
.footerLogo{
  filter: brightness(0) invert(1);
  height: 50px;
}
.footerLogoContainer{
  margin-top: 10px;
}
.copyright{
  display: flex;
  justify-content:space-between;
}

/*-------------------- LOGIN --------------------*/
.loginContainer{
  margin-top: 10%;
  margin-bottom: 20%;
}
.loginForm{
  border: none;
  outline: none;
  border-right: 1px solid #ccc;
  padding-right: 40px;
}
.loginForm h2{
  text-align: center;
  margin-bottom: 50px;
}
.loginButtonWrapper{
  display: flex;
  justify-content: center;
  
}
.loginButton{
  border-radius: 40px;
  padding: 15px 60px;
  justify-content: center;
  margin-top: 30px;
  
}
.accountButton{
  border-radius: 40px;
  padding: 15px ;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.accountChoice{
  padding:0 100px;
  
}
.accountChoice h2{
  text-align: center;
  
}
.googleButton{
  background:white;
  border: 1px solid black
}

/*-------------------- REGISTER --------------------*/
.registerForm h1{
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 50px;
}

/*-------------------- DASBOARD --------------------*/
.userInfoContainer{
  background-color: rgb(255, 235, 214);
  padding-bottom: 100px;
  margin-bottom: 3%;
  /* margin-top: 5%; */
}
.userPic{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
}
.userPic h5{
  margin-top: 20px;
  font-weight: bold;
}
.userInfo{
  margin-top: 20px;
  
}
.userInfo h5{
  font-weight: bold;
  margin-bottom: 10px;
}
.contentTitle h2{
  font-weight: bold;
  margin-bottom: 50px;
}
.contentWrapper{
  background-color: #f3f3f3;
  margin-bottom: 20%;
  padding-bottom: 100px;
}
.contentWrapper2{
  background-color: #f3f3f3;
  margin-bottom: 3%;
  padding-bottom: 10px;
}
.cardWrapper{
  padding: 10px  ;
  
}
.card{
  background-color: white;
  margin-top: 50px;
  border: none;
  padding: 15px;
  
}
.card h5{
  font-weight: bold;
  text-align: center;
}
.card h4{
  font-weight: bold;
  text-align: center;
}

.reciveButton{
  border-radius: 40px;
  padding: 15px 50px;
  margin-top:  50px; 
}
.reciveWrapper{
  display: flex;
  justify-content: right;

}
.cardStatus{
  padding: 15px 20px;
  margin-top:  50px; 
}

/*-------------------- HOME --------------------*/
.banner{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.bannerWrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0;
}